/*CSS for Andrew's Wedding.  Sarah can come too.*/
a {color:inherit;  text-decoration: none;}
* {margin: 0px; padding: 0px;}
body {
    padding-bottom: 100px;
    font-family: monospace;
}

/*header*/
.outerContainer {
    display: table;
    width: 100%; /* width of parent */
    height: 125px; /* height of parent */
    overflow: hidden;
}

.outerContainer .header-div {
	font-size: 24px;
	background-color: #2D6BBF;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/*content*/
.code {
	font-size: 18px;
	padding: 25px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

div.content
{
    padding: 10px 0;
    text-align: center;
}

#footer {
    padding-top: 10px;
}

input[type=reset],
input[type=submit] {
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px;
    width: 180px
  }